<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pertamina | Create PIN</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="icon" href="assets/favicon.ico" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet"> -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/btnCostum.css" rel="stylesheet">
  <link href="assets/css/pertaminaCore.css" rel="stylesheet">

  <link href="assets/css/inputCostum.css" rel="stylesheet">
  <!-- <link href="assets/css/styleCostum.css" rel="stylesheet"> -->



</head>

<body>



  <style>
    .img-responsive {
      max-width: 100%;
      height: auto;
      }

  </style>

  <style>
    /* Tambahkan styling sesuai kebutuhan Anda */
    .hidden {
      display: none;
    }
  </style>




  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: #32599C;">
    <div class="container d-flex align-items-center">

      <div class="d-flex">

        <h1 class="logo me-auto">
          <a class="navbar-brand me-3" href="#">
            <img src="assets/img/logo.png" alt="Logo" width="200" height="48" class="d-inline-block align-text-top">
            
          </a>
        </h1>  
        <a href="/" class="fs-3 fw-bold text-white">| SIBER CSMS</a>
      </div>
    

      <nav id="navbar" class="navbar ms-auto">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Beranda</a></li>
          <li><a class="nav-link scrollto" href="#berita">Tentang Kami</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <main id="main">


    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="/"><i class="fa-solid fa-house mx-1"></i>Beranda</a></li>
            <li>Create PIN</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->



<!-- ======= Login Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <h2>CREATE PIN PERTAMINA</h2>
            </div>
    
                <div class="mx-auto col-7 mt-1"> 
                    <form action="/createPIN" method="POST">

                        <div class="form-floating d-flex ">
                          <input type="text"  class="form-control" name="username" id="username" placeholder="Username" required>
                          <label for="pin">Username</label>

                        </div>

                        <div class="form-floating d-flex mt-3 ">
                          <input type="text"  class="form-control" name="password" id="pin" oninput="checkPINLength()" maxlength="11" placeholder="PIN" required>
                          <label for="pin">PIN</label>
                          <button type="button" class="btn btn-outline-light"><i class="text-dark bi bi-eye-slash" onclick="togglePasswordVisibility()"></i></button>
                        </div>
                            <div class="form-text ms-2" id="basic-addon4">*) Masukkan PIN Anda</div>
                            <div class="form-text ms-2" id="confirmationMessage"></div>
                    

                        <div class="text-center mb-5 pb-5">
                            <button type="submit" class="mt-4 btn btn-submit">Create</button>
                        </div>
                    </form>
               </div>
        </div>
  </section><!-- End About Us Section -->

  </main><!-- End #main -->



  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>